---
layout: base.njk
---
<header class="site-header">
  <a href="/" style="text-decoration: none; display: flex; align-items: center; gap: 1.5rem;">
    <img src="/logo.png" alt="Dofu Games Logo" class="logo">
    <h1>Dofu Games</h1>
  </a>
</header>

<article class="post-content">
  {{ content | safe }}
</article>